body {
  margin: 0;
}

ul {
  margin: 0;
}

.danhmuc {
  background-color: #2fa4e7;
  /* background-color: #1a8dd0; */
  padding: 20px;
}

.danhmuc-danhsach {
  display: flex;
  list-style: none; /*bỏ dấu chấm của list */
}

.danhmuc-muc {
  margin: 10px;
}

.danhmuc-lienket {
  color: white;
  text-decoration: none; /*bỏ dấu gạch chân của thẻ a */
  font-size: larger;
  font-weight: bold;
}

.danhmuc-lienket:hover {
  color: gray;
}

.logo {
  height: 80px;
  background-color: skyblue;
}

main {
  display: flex;
  background-color: #ececec;
}

.noidung-trai {
  /* height: 1000px;
  background-color: aqua; */
  width: 80%;
  border-radius: 10px;
}
.noidung-phai {
  /* height: 1500px; */
  /* background-color: chocolate; */
  width: 20%;
  margin-left: 20px;
}

.tieude {
  background-color: #2fa4e7;
  padding: 20px;
  color: white;
  font-size: x-large;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
}

.tintuc-danhsach {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.baiviet {
  /* height: 400px; */
  background-color: skyblue;
  width: 32%;
  font-size: 14px;
}

.background {
  background-color: white;
}

.thongbao {
  border-radius: 6px;
  margin-top: 20px;
  background: #fff;
}

.thongbao-noidung {
  display: flex;
}

.img {
  width: 25%;
  margin-right: 20px;
  font-size: 14px;
}

.danhsachthongbao {
  width: 75%;
  font-size: 14px;
}

.thoigian {
  width: 15%;
  font-size: 14px;
}

.huongdan {
  margin-left: 20px;
  padding-top: 20px;
}

.noidung-huongdan {
  display: flex;
  background-color: white;
  margin-left: 20px;
  font-size: 14px;
}

.danhsach-huongdan {
  width: 85%;
  margin-left: 50px;
  font-size: 14px;
}

a {
  text-align: right;
}

.caidat-app {
  margin-top: 20px;
}

.app img {
  width: 80%;
}

.footer {
  text-align: center;
  background-color: #2fa4e7;
  color: white;
}
.footer p {
  margin: 5px;
  font-size: 13px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.caidat-app {
  background-color: white;
}
